.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $header;
  left: 0;
  height: calc(100vh - $header);
  width: $aside-close;
  background-color: $bg-dark;
  box-shadow: $shadow-sidebar;
  box-sizing: border-box;
  padding: 1.5rem 0 11.2rem;
  overflow: hidden;
  transition: width .3s linear;
  z-index: 8;
  &:hover{
    @media (min-width: 768px) {
      width: $aside-open;
    }
  }

  &__link{
    margin-top: auto;
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}

.nav-link{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $primary;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 2rem;
  transition: background-color .25s linear, color .25s linear;
  cursor: pointer;
  @media (max-width: 767px) {
    padding: 1.4rem 1rem;
  }
  &.active{
    color: $text;
    pointer-events: none;
  }

  &:hover{
    @media (min-width: 768px) {
      color: $primary-dark;
      background-color: rgba($primary, .15);
    }
  }

  &__icon{
    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    margin-right: 2.4rem;
    @media (max-width: 768px) {
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
      font-size: 5rem;
    }
  }

  &__title{
    font-size: 2.4rem;
    letter-spacing: .05em;
    line-height: 3.2rem;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
}

.dark-theme{
  .sidebar{
    background-color: $dt-primary-dark;
  }
  .nav-link{
    color: $dt-primary-light;
    &.active {
      color: $white;
    }
    &:hover{
      @media (min-width: 768px) {
        color: $dt-text;
        background-color: rgba($dt-bg-dark, .50);
      }
    }
  }
}