.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $header;
  left: 0;
  height: calc(100vh - $header);
  width: $aside-close;
  background-color: $bg-dark;
  box-shadow: $shadow-sidebar;
  box-sizing: border-box;
  padding: 1.5rem 0 11.2rem;
  overflow: hidden;
  transition: width .3s linear;
  z-index: 8;
  &:hover{
    width: $aside-open;
  }

  &__link{
    margin-top: auto;
  }
}

.nav-link{
  display: flex;
  align-items: center;
  color: $primary;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 2rem;
  transition: background-color .25s linear, color .25s linear;
  cursor: pointer;
  &.active{
    color: $text;
    pointer-events: none;
  }

  &:hover{
    color: $primary-dark;
    background-color: rgba($primary, .15);
  }

  &__icon{
    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    margin-right: 2.4rem;
  }

  &__title{
    font-size: 2.4rem;
    letter-spacing: .05em;
    line-height: 3.2rem;
    white-space: nowrap;
  }
}