@import "../assets/styles/variables.scss";

.statistics {
  box-sizing: border-box;
  padding: 12rem 4rem 16rem;
  &__headline{
    font-size: 5.6rem;
    letter-spacing: .07em;
    line-height: 1;
    font-weight: $f-bold;
    color: $text;
    text-transform: uppercase;
    margin-bottom: 6rem;
    padding-bottom: 1.5rem;
    border-bottom: .5rem solid $primary;
    display: flex;
    justify-content: space-between;
    align-self: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }

    &-tab {
      display: inline-flex;
      align-items: center;
      font-size: 3.2rem;
      letter-spacing: 0;
      text-transform: none;
      line-height: 4rem;
      position: relative;
      cursor: pointer;
      margin-right: 8.4rem;
      color: $primary;
      transition: color .25s linear;
      @media (max-width: 340px) {
        font-size: 2.6rem;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -4rem;
        width: .4rem;
        height: 100%;
        background-color: $primary;
        pointer-events: none;
      }
      &:last-child{
        margin-right: 0;
        &:after{
          display: none;
        }
      }
      &:hover{
        color: $text;
      }

      &-list{
        @media (max-width: 767px) {
          margin-top: 2rem;
        }
      }

      &-icon{
        width: 4rem;
        min-height: 4rem;
        height: 4rem;
        font-size: 4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.2rem;
      }

      &.active{
        color: $text;
        pointer-events: none;
      }
    }
  }
  &__list{
    display: flex;
    gap: 5.4rem;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      max-width: 80rem;
      box-sizing: border-box;
    }
  }
  &__block{
    margin-bottom: 10rem;
    &:last-child{
      margin-bottom: 0;
    }
  }


  &-card{
    width: calc(50% - 2.7rem);
    background-color: $white;
    box-sizing: border-box;
    box-shadow: $shadow-1;
    border-radius: 1.2rem;
    padding: 6.4rem 5.8rem;
    &--lg{
      width: calc(64% - 2.7rem);
    }
    &--sm{
      width: calc(36% - 2.7rem);
    }
    &__block{
      margin-bottom: 5.5rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__title{
      font-size: 2rem;
      color: $primary-dark;
      margin-bottom: 2.4rem;
      @media (max-width: 767px) {
        font-size: 2.8rem;
      }
      &--cart{
        font-size: 3rem;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
      padding: 4rem 2.8rem;
    }
  }

  &-line{
    overflow: hidden;
    border-radius: .8rem;
    background-color: $bg-light;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 8.4rem;
    padding-left: 2.5rem;

    &__bg{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
    }
    &__value{
      display: inline-block;
      font-size: 3.6rem;
      font-weight: $f-bold;
      line-height: 1;
      color: $primary-dark;
      position: relative;
    }
  }
  &-donut{
    width: 100%;
    max-width: 28.4rem;
    margin: 0 auto;

    &__bg{
      r: 80;
      cx: 100;
      cy: 100;
      fill: none;
      stroke-width: 4rem;
      stroke: $red;
    }
    &__value{
      r: 80;
      cx: 100;
      cy: 100;
      fill: none;
      stroke-width: 4rem;
      stroke: $green;
      stroke-dashoffset: 100;
    }
    &__text{
      x: 50%;
      y: 50%;
      dominant-baseline: middle;
      text-anchor: middle;
      fill: $primary-dark;
      font-size: 3rem;
    }
  }
}

.dark-theme{
  .statistics {
    &__headline{
      color: $dt-primary-light;
      border-color: $dt-primary-light;

      &-tab {
        color: $dt-primary-light;
        transition: color .25s linear;
        &:after{
          background-color: $dt-primary-light;
        }
        &:hover{
          color: $dt-primary-light-2;
        }
        &.active{
          color: $dt-primary-light-2;
        }
      }
    }
    &-card{
      background-color: $dt-primary;
      &__title {
        font-size: 2rem;
        color: $dt-text;
      }
    }
    &-line{
      background-color: $dt-primary-light-2;
    }
    &-donut{
      &__text{
        fill: $dt-text;
      }
    }
  }
  .apexchart{
    color: $text;
    .apexcharts-text tspan, .apexcharts-data-labels text{
      fill: $dt-text;
    }
  }
}