.main{
  &-resources{
    box-sizing: border-box;
    padding: 3rem 2rem 0;
    margin-bottom: 12rem;
    display: flex;
    justify-content: center;
  }
  &-video{
    box-sizing: border-box;
    padding: 0 4rem;
    margin-bottom: 14rem;
  }
  &-iframe{
    width: 66.667vw;
    height: 37.5vw;
    max-width: 128rem;
    max-height: 72rem;
    min-width: 30rem;
    min-height: 18rem;
    margin: auto;
  }
  &-about{
    box-sizing: border-box;
    padding: 6.5rem 4rem 19.5rem;
    border-top: .4rem solid $primary;
    background-color: rgba($primary-light-2, .3);
    backdrop-filter: blur(15px);
  }

  &-card{
    width: 100%;
    max-width: 128rem;
    margin: 0 auto 7rem;
    background-color: $white;
    border-radius: 1.2rem;
    box-shadow: $shadow-2;
    box-sizing: border-box;
    padding: 4rem;
    display: flex;
    gap: 6rem;
    &:last-child{
      margin-bottom: 0;
    }
    &:nth-child(even){
      flex-direction: row-reverse;
    }
    &__image{
      width: 25rem;
      min-width: 25rem;
      height: 25rem;
      border-radius: 50%;
      overflow: hidden;
    }
    &__data{
      flex-grow: 1;
    }
    &__title{
      color: $black;
      font-size: 3.4rem;
      line-height: 1;
      font-weight: $f-bold;
      margin-bottom: 2.5rem;
    }
    &__about{
      font-size: 2rem;
      color: $black;
      line-height: 1.8;
    }
  }
}