@import "../assets/styles/variables.scss";
.games{
  &-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: $bg-light;
    background-size: cover;
    background-position: center;
    background-image: $background-image;
    box-sizing: border-box;
    padding: 4rem;
  }
  &-list{
    width: 100%;
    display: flex;
    max-width: 88rem;
    gap: 7.2rem;
  }
}