@import "../assets/styles/variables.scss";

.textbook {
  background: $background-image;

  &__heading-container {
    position: relative;
  }

  &__img-bg {
    width: 100%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  &__heading {
    font-family: "Fira Code";
    letter-spacing: 15px;
    font-weight: 500;
    font-size: 128px;
    line-height: 128px;
    color: $white10;
  }

  &__chapter {
    font-family: "Fira Code";
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 15px;
    color: #ffffff;
  }

  &__content-wrapper {
    max-width: 1297px;
    margin: 83px auto 0 auto;
  }

  &__nav-wrapper:first-child {
    display: flex;
    gap: 39px;
    font-family: "Fira Code";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #422d6d;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    background: #f7f3ff;
    padding: 20px 40px;
  }

  &__page-changer {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
  }

  &__game-list {
    display: flex;
    gap: 36px;
    font-family: "Fira Code";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #422d6d;
  }

  &__game-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

.icon-run-fast,
.icon-music-box {
  color: #422d6d;
  font-size: 24px;
}
