.img {
  width: 100%;
  height: 100%;

  &--cover {
    object-fit: cover;
  }

  &--contain {
    object-fit: contain;
  }
}

.headline {
  font-size: 7.2rem;
  line-height: 1;
  font-weight: $f-bold;
  color: $text;
  text-transform: uppercase;
  margin-bottom: 5rem;
}


.card-link {
  width: calc(25% - 4rem);
  margin: 2rem;
  box-sizing: border-box;
  border: .4rem solid $primary;
  box-shadow: $shadow-1;
  background-color: $bg-dark;
  padding: 3.7rem 2rem 4.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary;
  cursor: pointer;
  transition: color .3s linear, border-color .3s linear;

  @media (max-width: 767px) {
    width: calc(50% - 3rem);
    margin: 1.5rem;
  }

  &--lg{
    width: calc(50% - 3.6rem);
    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
    }
  }

  &:hover {
    border-color: $primary-dark;
    color: $primary-dark;
  }

  &__icon {
    width: 11.2rem;
    min-width: 11.2rem;
    height: 11.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 11.2rem;
    margin-bottom: 4.5rem;
    @media (max-width: 350px) {
      width: 9rem;
      min-width: 9rem;
      height: 9rem;
      font-size: 9rem;
      margin-bottom: 3.5rem;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: $f-bold;
    letter-spacing: .12rem;
    line-height: 1;
    text-transform: uppercase;
    @media (max-width: 350px) {
      font-size: 3rem;
    }
  }
}

.fs{
  &-lg{
    @media (min-width: 768px) {
      font-size: 9.2rem;
    }
  }
  &-md{
    font-size: 4.4rem;
  }
  &-chart{
    font-size: 3.6rem;
  }
}

.dark-theme{
  .headline {
    color: $dt-text;
  }
  .card-link {
    border-color: $dt-primary-light;
    background-color: $dt-primary;
    color: $dt-primary-light;
    &:hover {
      border-color: $dt-text;
      color: $dt-text
    }
  }
}

.blocked{
  pointer-events: none;
  user-select: none;
  opacity: .5;
}
.locked{
  pointer-events: none;
}